name: Validate yangs and generate sids

on:
  pull_request:
    # Sequence of patterns matched against refs/heads
    branches:
      - main

jobs:
  sid-testing:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tk-acklio/repo-utils:main
      credentials:
        username: tk-acklio
        password: "${{ secrets.PRIV_DOCKER_TOKEN }}"
    env:
      TARGET_BRANCH_NAME: "main"
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
        with:
          fetch-depth: 0
      - name: Check  env
        run: env
      - name: Check the sid syntax
        run: make -f /opt/acklio/Makefile syntaxcheck
