name: Create and publish a Docker image

on: [push]

jobs:
  sid-testing:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tk-acklio/repo-utils:latest
      credentials:
        username: tk-acklio
        #password: ${{ secrets.GITHUB_TOKEN }}
        password: ${{ secrets.GHCR_TOKEN }}
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Check the sid syntax
        run: make -f /opt/acklio/Makefile syntaxcheck
