name: Validate yangs and generate sids

on: [push]

jobs:
  sid-testing:
    runs-on: ubuntu-latest
    container:
      image: ghcr.io/tk-acklio/repo-utils:latest
    steps:
      - name: Check out the repo
        uses: actions/checkout@v3
      - name: Check the sid syntax
        run: make -f /opt/acklio/Makefile syntaxcheck
